.posts {
    list-style-type: none;
    margin: 12px;
    padding: 0;
    max-width: 35em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    border-style: solid;
    border-width: 2px;
  }

  .post {
    position: relative;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    max-height: 280px;
    background-color: white;
    border-width: 3px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .post:hover {
    left: .1em;
  }

.post-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px
}