.post-wrapper {
  max-width: 35em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  margin: 12px;
  padding: 12px;
  background-color: aliceblue;
  border-width: 2px;
}

.post {
  position: relative;
}

.post-detail {
  align-self: center;
  max-width: 35em;
  margin: 10px;
}

/* .button {
  max-width: 160px;
  text-align: center;
  margin-left: 0;
  background-color: white;
  border-style: solid;
  text-decoration: none;
  height: 24px;
  padding: 4px;
  margin: 4px 0 8px 0;
  border-width: 3px;
} */

/* .author {
  text-decoration: underline;
} */
