.post-wrapper {
  max-width: 35em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  margin: 12px;
  padding: 12px;
  background-color: aliceblue;
  border-width: 2px;
}

.post {
  position: relative;
}

.post-detail {
  align-self: center;
  max-width: 35em;
  margin: 10px;
}
